@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12">
            <div style="width: 100%">
                <iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=es&coord=40.38827429635696,-3.626571893692017&q=Universidad%20Polit%C3%A9cnica%20de%20Madrid%2C%20Calle%20de%20Alan%20Turing%2C%20s%2Fn%2C%2028031%20Madrid+(ETSISI)&ie=UTF8&t=&z=14&iwloc=B&output=embed"
                        frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
            </div>
        </div>
        <div class="col-md-4 col-sm-12">
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Localización</th>
                        <th scope="col">Encargado</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Sede</th>
                        <td>Universidad Politécnica de Madrid</td>
                        <td>Etsisi-UPM</td>
                    </tr>
                    <tr>
                        <th scope="row">Tienda</th>
                        <td>Calle Arboleda 288</td>
                        <td>Alejandro Puebla Holguín</td>
                    </tr>
                    <tr>
                        <th scope="row">Almacén</th>
                        <td>Carretera Valencia km 7</td>
                        <td>Alex Puebla</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
