@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Máster Ingeniería Web<br />
    Back-end con tecnologías propietarias<br />
    Tienda Virtual en .NET<br />
</address>
<address>
    <strong>Developer:</strong>   <a href="https://correo.etsisi.upm.es/">a.pueblah@alumnos.upm.es</a><br />
</address>